---
import BubbleBox from '@com/main/BubbleBox.astro';

const interestswords = [
    { words: 'Foo Fighters, Tool and Deftones'},
    { words: 'Kill Bill, All Marvel Movies and War Documentaries'},
    { words: 'Anything on History Channel'},
    { words: 'Auto-Biographies'}
];

const { name, general, music, movies, television, books, heroes, loggedin, username } = Astro.props;

//let parts = name.split(' ')
//let firstName = parts.shift();
//let lastName = parts.join(' ');
---
<BubbleBox
    username2={`${name}'s`} 
    name="Interests" 
    name2="[edit interests]"
    loggedin={loggedin}
    pclass="flex items-center justify-between mx-2 text-xs font-semibold text-white mt-0.5 flex flex-grow" 
    backgroundColor="bg-blue-400" 
    borderColor="border-blue-400" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-white" 
    aurl={`/${username}/editinterests`}
>
    <div class="p-1 space-y-1">
            <div class="flex items-stretch space-x-1">
                <div class="w-1/3 bg-blue-200">
                        <p class="text-xs font-semibold text-blue-600 pl-1 pt-0.5">
                            Music:
                        </p>
                </div>
                <div class="w-2/3 bg-blue-100">
                    <p class="text-xs py-0.5 px-1 w-full text-balance" set:html={interestswords[0].words}>
                    </p>
                </div>
            </div>
            <div class="flex items-stretch space-x-1">
                <div class="w-1/3 bg-blue-200">
                        <p class="text-xs font-semibold text-blue-600 pl-1 pt-0.5">
                            Movies:
                        </p>
                </div>
                <div class="w-2/3 bg-blue-100">
                    <p class="text-xs py-0.5 px-1 w-full text-balance" set:html={interestswords[1].words}>
                    </p>
                </div>
            </div>
            <div class="flex items-stretch space-x-1">
                <div class="w-1/3 bg-blue-200">
                        <p class="text-xs font-semibold text-blue-600 pl-1 pt-0.5">
                            Television:
                        </p>
                </div>
                <div class="w-2/3 bg-blue-100">
                    <p class="text-xs py-0.5 px-1 w-full text-balance" set:html={interestswords[2].words}>
                    </p>
                </div>
            </div>
            <div class="flex items-stretch space-x-1">
                <div class="w-1/3 bg-blue-200">
                        <p class="text-xs font-semibold text-blue-600 pl-1 pt-0.5">
                            Books:
                        </p>
                </div>
                <div class="w-2/3 bg-blue-100">
                    <p class="text-xs py-0.5 px-1 w-full text-balance" set:html={interestswords[3].words}>
                    </p>
                </div>
            </div>
    </div>
</BubbleBox>