---
import BubbleBox from '@com/main/BubbleBox.astro';
import UserDetailEditLinks from '@com/profile/UserDetailEditLinks.astro';
import ProfileImage from '@com/main/ProfileImage.astro';
import Mood from '@com/profile/Mood.astro';
import BottomUserDetailLinks from '@com/profile/BottomUserDetailLinks.astro';

interface Props {
    loggedin?: boolean;
    onlinenow?: boolean;
    name?: string;
    username?: string;
}

const { loggedin, onlinenow, name, username } = Astro.props;

const profilepic = true;
---
<BubbleBox
    name={name} 
    name2="[edit name]"
    pclass="flex items-center justify-between text-base font-semibold text-white h-6 mx-2 mt-0.5" backgroundColor="bg-blue-400" 
    borderColor="border-blue-400" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-white" 
    aurl={`/${username}/settings`}
>
        <div class="ml-3.5 mt-1 mb-1">
            <div class="flex items-center space-x-2 -ml-2 mb-1 -mt-0.5">
                <UserDetailEditLinks loggedin={loggedin} username={username} />
            </div>
            <div class="flex justify-between mt-1.5 mb-2">
                <ProfileImage
                imgclass="-ml-1.5"
                width={160}
                height={160}
                srcurl={profilepic ? "/img/400.jpeg" : "/img/avatar.png"}
                altText="Astro's profile picture"
                titleText="Visit Astro's Profile Page"
              />
            </div>
            <div class="box-border space-y-1 -ml-2 -mt-0.5">
                    <Mood loggedin={loggedin} onlinenow={onlinenow} username={username} />
                    <div class="mb-2 ml-0.5">
                        <BottomUserDetailLinks username={username} />
                    </div>
            </div>
        </div>
</BubbleBox>
