---
import BubbleBox from '@com/main/BubbleBox.astro';
import UserDetailEditLinks from '@com/profile/UserDetailEditLinks.astro';
import ProfileImage from '@com/main/ProfileImage.astro';
import Mood from '@com/profile/Mood.astro';
import BottomUserDetailLinks from '@com/profile/BottomUserDetailLinks.astro';
import { Icon } from 'astro-icon/components';

interface Props {
    loggedin?: boolean;
    onlinenow?: boolean;
    name?: string;
    username?: string;
    lastActive?: string;
    profilepic?: boolean;
    profileimg?: string;
}

const { loggedin, name, username, lastActive, profilepic, profileimg } = Astro.props;
---
<BubbleBox
    name={name} 
    name2="[edit name]"
    loggedin={loggedin}
    pclass="flex items-center justify-between text-base font-semibold text-white h-6 mx-2 mt-0.5" 
    backgroundColor="bg-neutral-950" 
    borderColor="border-neutral-950" 
    aclass="text-[10px] -mt-0.5 font-normal hover:underline text-white" 
    aurl={`/${username}/settings`}
>
    <div class={loggedin ? 'pl-4 pb-2 pt-2' : 'pl-4 pb-2 pt-2'}>
        <div class="flex items-center space-x-2 -ml-2 mb-2.5 -mt-0.5">
            <UserDetailEditLinks loggedin={loggedin} username={username} />
        </div>
        <div class="flex justify-between -mt-1 mb-2 -ml-1.5">
            <div class="relative inline-block">
                {profilepic ? (
                    <div class="relative inline-block group w-[160px] h-[160px]">
                        <a href={profileimg} data-lightbox={profileimg} class="relative block w-full h-full">
                            <ProfileImage
                                width={160}
                                height={160}
                                srcurl={profileimg}
                                altText={`${name}'s Profile Picture`}
                                loggedin={loggedin}
                            />
                            <!-- Overlay with z-index to ensure it appears over the image -->
                            <div class="absolute top-0 left-0 w-[160px] h-[160px] bg-neutral-950 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity z-10">
                                <Icon name="expand" class="fill-neutral-200 opacity-90 w-10 h-10" />
                            </div>
                        </a>
                    </div>
                ) : (
                    <div class="mb-1.5">
                        <Icon class="w-[160px] h-[160px]" name="avatar" />
                        {loggedin && (
                            <div class="absolute bottom-0.5 -right-1 w-7 h-7 rounded-full bg-green-500 border-2 border-white z-20"></div>
                        )}
                    </div>
                )}
            </div>
        </div>
        <div class="space-y-1.5">
            <div class="-mt-2 -ml-1.5">
                <Mood loggedin={loggedin} username={username} lastActive={lastActive} />
            </div>
            <div class="-ml-1.5">
                <BottomUserDetailLinks username={username} />
            </div>
        </div>
    </div>
</BubbleBox>