---
import SmallLink from '@com/main/SmallLink.astro';
import { Icon } from 'astro-icon/components';
import onlineusers from '../../pages/api/users';

const { username } = Astro.params;

console.log('Username from URL:', username);
console.log('Users array:', onlineusers);

const page = onlineusers.find(user => user.username === username);

const { name, coverimg, loggedin, isCoverImg } = page;
---
{ isCoverImg ?
<div class="relative w-full h-[150px] overflow-hidden bg-[#252728]/20 border-2 border-[#252728]">
    { isCoverImg && (
        <div class="relative group w-full h-full">
            <a href={coverimg} data-lightbox={coverimg} data-title={`${name}'s Cover Image`} class="block w-full h-full">
                <img src={coverimg} alt={`${name}'s Cover Image`} class="w-full h-full object-cover" />
                <!-- Overlay with centered icon, visible on hover -->
                <div class="absolute inset-0 bg-[#252728] bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity z-10">
                    <Icon name="expand" class="fill-white opacity-90 w-10 h-10" />
                </div>
            </a>
            </div>
        )}
</div>
:
<div class="-mt-2"></div>
}
    <!-- Edit Cover Photo button positioned above the overlay -->
    { (loggedin && isCoverImg) && (
        <p class="text-[11.52px] pt-1">
            <SmallLink href={`/${username}/settings`} link="edit cover photo" />
        </p>
    )}