---
import { Icon } from 'astro-icon/components';

import onlineusers from '../../pages/api/users';

const { username } = Astro.params;

console.log('Username from URL:', username);

console.log('Users array:', onlineusers);

const page = onlineusers.find(user => user.username === username);

console.log('Found page:', page);

const { name, coverimg, loggedin } = page;
---
<div class="relative w-full h-[150px] overflow-hidden bg-blue-200 border-2 border-blue-400">
  {coverimg && (
    <a href={coverimg} data-lightbox={coverimg} data-title={`${name}'s Cover Image`}>
      <img src={coverimg} alt={`${name}'s Cover Image`} class="w-full h-full object-cover" />
      </a>
    )
  }
  {loggedin && ( <a class="absolute bottom-2 right-2 bg-zinc-100 hover:bg-zinc-200 border border-zinc-500 px-1.5 py-0.5 cursor-pointer text-xs flex items-center space-x-1" href={`/${username}/settings`}><Icon class="h-3 w-3" name="camera" /><span class="mt-[1.5px]">Edit Cover Photo</span></a>)}
</div>