---
interface Props {
    width: number;
    height: number;
    imgclass?: string;
    srcurl?: string;
    altText?: string;
    titleText?: string;
    loggedin?: boolean;
    livestreaming?: boolean;
}

import StatusDot from '@com/main/StatusDot.astro';

import { Image } from 'astro:assets';

const { width, height, imgclass, srcurl, altText, titleText, loggedin, livestreaming } = Astro.props;
---
<div class="relative inline-block">
    <Image width={width} height={height} class={imgclass} loading="eager" src={srcurl} alt={altText} title={titleText} />
    <StatusDot loggedin={loggedin} livestreaming={livestreaming} />
</div>