---
const { audiourl, xmlpath, autoplayon, title, artist } = Astro.props;

const settings = {
  containerID: 'social-music-player',
  title: title,
  artist: artist,
  audioFilePath: audiourl,
  autoplay: autoplayon,
  xmlpath: xmlpath
};
---

<!-- Start User Interface HTML -->
<div id={settings.containerID}
     data-artist={settings.artist}
     data-title={settings.title}
     data-audio-file-path={settings.audioFilePath}
     data-autoplay={settings.autoplay}
     data-xml-file-path={settings.xmlpath}
     class="h-[59px] bg-gradient-to-b from-stone-200 via-stone-300 to-stone-500">
      <div class="grid font-player grid-row-1 grid-cols-5 pt-2.5 pb-1.5 px-2">
        <div class="group bg-gradient-to-b from-stone-950 via-stone-950/80 to-stone-950 active:bg-stone-800 w-12 h-10 rounded">
          <button type="button" class="h-[40px] w-12 rounded">
            <i class="mmp-icon fa-solid fa-play -mt-[0.5px]"></i>
          </button>
        </div>
            <div class="bg-gradient-to-b from-stone-950 via-stone-950/80 to-stone-950 text-white grid grid-cols-2 h-10 min-w-[231px] pointer-events-none rounded">
                    <div class="flex flex-col my-auto min-w-[224px] pl-[7px] font-normal antialiased subpixel-antialiased">
                      <div id="song-title" class="text-[11px]">{settings.title}</div>
                      <div id="song-artist" class="uppercase text-[10px]">{settings.artist}</div>
                    </div>
                </div>
            </div>
        <!-- Start Audio Player -->
            <audio id="audio-player">
                <source src={settings.audioFilePath} type="audio/mpeg">
            </audio>
        <!-- End Audio Player -->
    </div>
<!-- End User Interface HTML -->

<!-- Start Player Javascript -->
<script is:inline>
document.addEventListener("DOMContentLoaded", function() {
    const container = document.getElementById('social-music-player');
    const autoplay = container.hasAttribute('data-autoplay') && container.getAttribute('data-autoplay').toLowerCase() !== 'false';
    
    const settings = {
        containerID: container.id,
        title: container.getAttribute('data-title'),
        artist: container.getAttribute('data-artist'),
        audioFilePath: container.getAttribute('data-audio-file-path'),
        autoplay: autoplay,
        xmlFilePath: container.getAttribute('data-xml-file-path'),
        updateInterval: 75000
    };

    class UserInterface {
        constructor(settings) {
            this._settings = settings;
            this._preExtendSettings();
            this._setRoot();
            this._postExtendSettings();
            this.setPauseState();
        }

        _preExtendSettings() {
            this._settings.buttonIconClass = 'mmp-icon';
        }

        _setRoot() {
            this._root = document.getElementById(this._settings.containerID);
        }

        _postExtendSettings() {
            this._buttonIcon = this._root.querySelector(`.${this._settings.buttonIconClass}`);
            this._settings.buttonIconPauseClass = 'fa-pause';
            this._settings.buttonIconPlayClass = 'fa-play';
        }

        setPauseState() {
            this._setButtonPauseState();
        }

        _setButtonPauseState() {
            let buttonIcon = this._buttonIcon;
            buttonIcon.classList.remove('fa-pause', 'text-white', 'text-2xl');
            buttonIcon.classList.add('fa-play', 'text-white', 'text-xl');
        }

        setPlayState() {
            this._setButtonPlayState();
        }

        _setButtonPlayState() {
            let buttonIcon = this._buttonIcon;
            buttonIcon.classList.remove('fa-play', 'text-white', 'text-xl');
            buttonIcon.classList.add('fa-pause', 'text-white', 'text-2xl');
        }

        setButtonClickCallback(callback) {
            let button = this._root.querySelector('button');
            button.addEventListener('click', callback);
        }

        updateButtonState(isPlaying) {
            if (isPlaying) {
                this.setPlayState();
            } else {
                this.setPauseState();
            }
        }

        updateSongInfo(title, artist) {
            const capitalizeWords = (str) => {
                if (!str) return str;
                const minorWords = ['a', 'an', 'and', 'as', 'at', 'but', 'by', 'for', 'if', 'in', 'nor', 'of', 'on', 'or', 'so', 'the', 'to', 'up', 'yet'];
                const alwaysUppercase = ['wvh', 'nfl', 'usa', 'ac/dc'];
                const capitalizeParentheses = (s) => s.replace(/\(([^)]+)\)/g, (match, p1) => `(${p1.split(' ').map(word => {
                    if (alwaysUppercase.includes(word.toLowerCase())) {
                        return word.toUpperCase();
                    }
                    return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                }).join(' ')})`);

                return capitalizeParentheses(str)
                    .split(' ')
                    .map((word, index) => {
                        if (index === 0 || index === str.split(' ').length - 1 || !minorWords.includes(word.toLowerCase())) {
                            if (alwaysUppercase.includes(word.toLowerCase())) {
                                return word.toUpperCase();
                            }
                            return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                        }
                        return word.toLowerCase();
                    })
                    .join(' ');
            };

            // Capitalize title and artist
            let formattedTitle = capitalizeWords(title) || 'No Title Available';
            let formattedArtist = capitalizeWords(artist) || 'No Artist Available';

            // Update song title and artist with provided values or fallback to default
            document.getElementById('song-title').textContent = formattedTitle;
            document.getElementById('song-artist').textContent = formattedArtist;
        }
    }

    class Engine {
        constructor(settings) {
            this._settings = settings;
            this._preExtendSettings();
            this._setRoot();
            this._postExtendSettings();
            this._setupAutoplay();
        }

        _preExtendSettings() {
            this._settings.audioTag = 'audio';
        }

        _setRoot() {
            this._root = document.getElementById(this._settings.containerID);
        }

        _postExtendSettings() {
            this._engine = document.getElementById('audio-player');
        }

        _setupAutoplay() {
            if (this._settings.autoplay) {
                this._attemptPlay();
            }
        }

        _attemptPlay() {
            this._engine.play().then(() => {
                this._notifyPlaybackStarted(true);
            }).catch(error => {
                this._notifyPlaybackStarted(false);
            });
        }

        play() {
            this._attemptPlay();
        }

        pause() {
            this._engine.pause();
            this._notifyPlaybackStarted(false);
        }

        isPaused() {
            return this._engine.paused;
        }

        setOnEndedCallback(callback) {
            this._engine.addEventListener('ended', callback);
        }

        _notifyPlaybackStarted(isPlaying) {
            if (this._settings.ui) {
                this._settings.ui.updateButtonState(isPlaying);
            }
        }
    }

    class SocialMusicPlayer {
        constructor(settings) {
            this._settings = settings;
            this._buildUserInterface();
            this._buildEngine();
            this._fetchAndUpdateSongInfo();
            this._setButtonClickCallback();
            this._setOnEndedCallback();
            this._setupAutoUpdate();
        }

        _buildUserInterface() {
            let userInterfaceSettings = {
                containerID: this._settings.containerID,
                song: this._settings.title,
                artist: this._settings.artist,
            };

            this._userInterface = new UserInterface(userInterfaceSettings);
        }

        _buildEngine() {
            let engineSettings = {
                containerID: this._settings.containerID,
                audioFilePath: this._settings.audioFilePath,
                autoplay: this._settings.autoplay,
                ui: this._userInterface
            };

            this._engine = new Engine(engineSettings);
        }

        _fetchAndUpdateSongInfo() {
            fetch(this._settings.xmlFilePath)
                .then(response => response.text())
                .then(text => {
                    let isXML = text.trim().startsWith('<?xml');
                    if (isXML) {
                        this._parseXML(text);
                    } else {
                        this._parseJSON(text);
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    this._userInterface.updateSongInfo(null, null);
                });
        }

        _parseXML(xmlString) {
            let parser = new DOMParser();
            let xmlDoc = parser.parseFromString(xmlString, "text/xml");
            let songTitle = xmlDoc.getElementsByTagName('title')[0]?.textContent || `${settings.title}`;
            let songArtist = xmlDoc.getElementsByTagName('artist')[0]?.textContent || `${settings.artist}`;
            this._userInterface.updateSongInfo(songTitle, songArtist);
        }

        _parseJSON(jsonString) {
            try {
                let jsonData = JSON.parse(jsonString);
                let performances = jsonData.performances[0];
                let songTitle = performances.title || `${settings.title}`;
                let songArtist = performances.artist || `${settings.artist}`;
                this._userInterface.updateSongInfo(songTitle, songArtist);
            } catch (error) {
                console.error('Error parsing JSON:', error);
                this._userInterface.updateSongInfo(null, null);
            }
        }

        _setupAutoUpdate() {
            this._fetchAndUpdateSongInfo();
            setInterval(() => {
                this._fetchAndUpdateSongInfo();
            }, this._settings.updateInterval);
        }

        _setButtonClickCallback() {
            let buttonClickCallback = this._buttonClickCallback();
            this._userInterface.setButtonClickCallback(buttonClickCallback);
        }

        _buttonClickCallback() {
            return () => {
                if (this._engine.isPaused()) {
                    this._engine.play();
                    this._userInterface.setPlayState();
                } else {
                    this._engine.pause();
                    this._userInterface.setPauseState();
                }
            }
        }

        _setOnEndedCallback() {
            let onEndedCallback = this._onEndedCallback();
            this._engine.setOnEndedCallback(onEndedCallback);
        }

        _onEndedCallback() {
            return () => {
                this._userInterface.setPauseState();
            }
        }
    }

    let musicPlayer = new SocialMusicPlayer(settings);
});
</script>
<!-- End Player Javascript -->