---
const loggedin = true;

const home = "Home";

const loginname = "Login";

const loggedinwords = [loggedin ? `${home}` : `${loginname}`];

const navItems = [
  { smallname: "", href: "/", name: `${loggedinwords}`, dividerChar: "-" },
  { smallname: "browse", href: "/browse", name: "Browse", dividerChar: "-" },
  { smallname: "messages", href: "/messages", name: "Messages", dividerChar: "-" },
  { smallname: "blogs", href: "/blogs", name: "Blogs", dividerChar: "-" },
  { smallname: "bulletins", href: "/bulletins", name: "Bulletins", dividerChar: "-" },
  { smallname: "forums", href: "/forums", name: "Forums", dividerChar: "-" },
  { smallname: "groups", href: "/groups", name: "Groups", dividerChar: "-" },
  { smallname: "layouts", href: "/layouts", name: "Layouts", dividerChar: "-" },
  { smallname: "favorites", href: "/favorites", name: "Favorites", dividerChar: "-" },
  { smallname: "invite", href: "/invite", name: "Invite", dividerChar: "-" },
  { smallname: "help", href: "/help", name: "Help", dividerChar: "-" },
  { smallname: "contact", href: "/contact", name: "Contact", dividerChar: "" }
];

const getCssClasses = (isActive) => isActive ? "hover:text-black hover:underline font-semibold" : "hover:text-black hover:underline";

const dividerCss = "text-white text-xs font-normal pl-[4px]";

const currentPath = new URL(Astro.request.url).pathname.slice(1);
---
<nav class="bg-blue-400 text-white drop-shadow-lg py-[3px] px-3">
    <ul class="flex items-stretch justify-between text-xs -mt-[1px] ml-1.5">
      {navItems.map(({ smallname, href, name, dividerChar }) => (
      <li>
        <a class={getCssClasses(currentPath === smallname)} href={href} target="_self">{name}</a>
        <span class={dividerCss}>{dividerChar}</span>
      </li>
    ))}
    </ul>
  </nav>