---
interface Props {
    width: number;
    height: number;
    imgclass?: string;
    srcurl?: string;
    altText?: string;
    titleText?: string;
    loggedin?: boolean;
}

import { Image } from 'astro:assets';

const { width, height, imgclass, srcurl, altText, titleText, loggedin } = Astro.props;
---
<div class="relative inline-block">
    <Image width={width} height={height} class={imgclass} loading="eager" src={srcurl} alt={altText} title={titleText} />
    { 
    loggedin && (
        <div class="absolute top-0 right-0 block w-4 h-4 rounded-full bg-green-500 border-[3px] border-white -mt-1 -mr-1"></div>
    )
    }
</div>