---
interface Props {
    width: number;
    height: number;
    imgclass?: string;
    srcurl?: string;
    altText?: string;
    titleText?: string;
}

import { Image } from 'astro:assets';

const { width, height, imgclass, srcurl, altText, titleText } = Astro.props;
---
<div class="relative inline-block">
    <Image width={width} height={height} class={imgclass} loading="eager" src={srcurl} alt={altText} title={titleText} densities={[1.5, 2]} />
</div>