---
interface Props {
  widthcss?: string;
  backgroundColor?: string;
  borderColor?: string;
  name?: string;
  pclass?: string;
  username?: string;
  username2?: string;
  name2?: string;
  aclass?: string;
  aurl?: string;
  loggedin?: boolean;
  show?: boolean;
};

const { widthcss, backgroundColor, borderColor, name, pclass, username, username2, name2, aclass, aurl, loggedin, show } = Astro.props;
---
<div class={widthcss}>
    <div class="py-0.5" class:list={backgroundColor}>
        <div class={pclass}>
          <p>{username2} {name} {username} </p>
          { loggedin ? <a class={aclass} href={aurl} target="_blank">{name2}</a> : null }
    </div>
    </div>
        <div class="border-2 border-solid" class:list={borderColor}>
                <slot />
        </div>
</div>