---
import { Icon } from 'astro-icon';
---
<div class="space-y-8">
  <h3 class="text-[14.976px] font-semibold flex items-center text-black">
    Follow Hi Moot on:
    <div class="flex items-center ml-1 space-x-2">
        {[
          ["flex items-center justify-center w-6 h-6 bg-black hover:bg-stone-700", "Follow Hi Moot on X", "https://x.com/himoot", "m-auto h-[16px] w-[16px] fill-white", "x-twitter" ],
          ["flex items-center justify-center w-6 h-6 instagram hover:brightness-110", "Follow Hi Moot on Instagram", "https://instagram.com/himoot", "m-auto h-[20px] w-[20px] fill-white", "instagram" ],
          [ "flex items-center justify-center w-6 h-6 bg-red-600 hover:bg-red-500", "Subscribe to Hi Moot on YouTube", "https://www.youtube.com/himoot", "m-auto h-[16px] w-[16px] fill-white", "youtube" ],
          [ "flex items-center justify-center w-6 h-6 bg-black hover:bg-stone-700", "Follow Hi Moot on TikTok", "https://www.tiktok.com/@himoot", "m-auto h-[16px] w-[16px] fill-white", "tiktok" ],
          ["flex items-center justify-center w-6 h-6 bg-blue-700 hover:bg-blue-600", "Follow Hi Moot on Facebook", "https://www.facebook.com/himoot", "m-auto h-[16px] w-[16px] fill-white", "facebook" ],
        ].map(([buttonClass, buttonTitle, buttonHref, iconClass, iconName], iconIndex) => (
          <a class={buttonClass} title={buttonTitle} href={buttonHref} target="_blank" rel="noopener">
            <Icon key={iconIndex} class={iconClass} name={iconName} />
          </a>
        ))
      }
    </div>
  </h3>
</div>