---
import { Icon } from 'astro-icon';
---
<div class="flex items-center space-x-56">
  {[
    ["https://validator.w3.org", "Valid HTML5", "w3c-html5"],
    ["https://jigsaw.w3.org/css-validator", "Valid CSS3", "w3c-css3"],
    ["https://validator.w3.org/feed", "Valid RSS", "w3c-rss"]
  ].map(([iconHref, iconTitle, iconName ]) => (
    <a href={iconHref} target="_blank" rel="noopener" title={iconTitle} aria-label={iconTitle}>
      <Icon class="w-[80px] h-auto hover:brightness-110" name={iconName} alt={iconTitle} />
    </a>
  ))}
</div>