---
import Layout from '@lay/Layout.astro';

import UserDetailBox from '@com/home/UserDetailBox.astro';
import CoolPeople from '@com/main/CoolPeople.astro';
import MyMail from '@com/home/MyMail.astro';
import ProfileLinkBox from '@com/home/ProfileLinkBox.astro';
import UpdatesBox from '@com/home/UpdatesBox.astro';
import BlogEntry from '@com/home/BlogEntry.astro';
import InfoBox from '@com/home/InfoBox.astro';
import FriendsBulletins from '@com/home/FriendsBulletins.astro';
import FriendRequests from '@com/home/FriendRequests.astro';

import LoginCoolPeople from '@com/main/LoginCoolPeople.astro';
import LoginDivider from '@com/login/LoginDivider.astro';
import LoginBox from '@com/login/LoginBox.astro';

const name = "Dex";

const username = "dex";

import loggedin from './loggedin';

import profilepic from './profilepic';
---
<Layout title={ loggedin ? "Home" : "Login" }>
	{ loggedin ?
    <div class="grid grid-cols-12 grid-flow-row-dense">
        <div class="col-span-full">
            <div class="flex items-start justify-between gap-x-2">
                <!-- Left Column -->
                <div class="flex flex-col gap-y-2">
                    <UserDetailBox name={name} username={username} />
                    <MyMail  />
                    <ProfileLinkBox username={username} />
                    <UpdatesBox />
                </div>
                <!-- Right Column -->
                <div class="flex flex-col gap-y-2 w-full">
                    <div class="flex justify-between">
                        <div class="-mt-0.5">
                            <BlogEntry username={username} />
                        </div>
                        <InfoBox username={username} />
                    </div>
                    <CoolPeople name={name} username={username} loggedin={loggedin} profilepic={profilepic} />
                    <FriendsBulletins username={username} />
                    <FriendRequests username={username} />
                </div>
            </div>
        </div>
    </div>
    :
    <div class="grid grid-cols-12 grid-flow-row-dense mt-0.5">
        <div class="col-span-full">
            <div class="flex items-start justify-between">
                <!-- Left Column -->
                <div class="grid grid-rows-1">
                    <LoginCoolPeople loggedin={loggedin} profilepic={profilepic} />
                </div>
                <!-- Divider -->
                <div class="grid grid-rows-1 gap-y-0.5">
                    <LoginDivider />
                </div>
                <!-- Right Column -->
                <div class="grid grid-rows-1 gap-x-2">
                    <LoginBox />
                </div>
            </div>
        </div>
    </div>
	}
</Layout>