---
import Layout from '@lay/Layout.astro';

import LoginLayout from '@lay/LoginLayout.astro';

import UserDetailBox from '@com/home/UserDetailBox.astro';
import CoolPeople from '@com/main/CoolPeople.astro';
import MyMail from '@com/home/MyMail.astro';
import ProfileLinkBox from '@com/home/ProfileLinkBox.astro';
import UpdatesBox from '@com/home/UpdatesBox.astro';
import BlogEntry from '@com/home/BlogEntry.astro';
import InfoBox from '@com/home/InfoBox.astro';
import FriendsBulletins from '@com/home/FriendsBulletins.astro';
import FriendRequests from '@com/home/FriendRequests.astro';

import LoginCoolPeople from '@com/main/LoginCoolPeople.astro';
import LoginDivider from '@com/login/LoginDivider.astro';
import LoginBox from '@com/login/LoginBox.astro';

const name = 'Dex';

const username = 'dex';

const created = '01-01-2020';

const showlist = 7;

const bulletinnum = 4;

import loggedin from './api/loggedin.json';

import profilepic from './api/profilepic.json';
---
{ loggedin ?
<Layout title="Home">
    <div class="grid grid-cols-12 grid-flow-row-dense">
        <div class="col-span-full">
            <div class="flex items-start justify-between gap-x-2">
                <!-- Start Left Column -->
                <div class="flex flex-col gap-y-2">
                    <UserDetailBox name={name} username={username} />
                    <MyMail  />
                    <ProfileLinkBox username={username} />
                    <UpdatesBox />
                </div>
                <!-- End Left Column -->
                <!-- Start Right Column -->
                <div class="flex flex-col gap-y-2 w-full">
                    <div class="flex justify-between">
                        <div class="-mt-0.5">
                            <BlogEntry username={username} showlist={showlist} />
                        </div>
                        <InfoBox username={username} created={created} />
                    </div>
                    <CoolPeople name={name} username={username} loggedin={loggedin} profilepic={profilepic} />
                    <FriendsBulletins username={username} bulletinnum={bulletinnum} />
                    <FriendRequests username={username} />
                </div>
                <!-- End Right Column -->
                </div>
            </div>
        </div>
    </Layout>
    :
    <LoginLayout title="Login">
        <div class="grid grid-cols-12 grid-flow-row-dense mt-0.5">
            <div class="col-span-full">
                <div class="flex items-start justify-between">
                    <!-- Start Cool People on Login Page -->
                    <div class="grid grid-rows-1">
                        <LoginCoolPeople loggedin={loggedin} profilepic={profilepic} />
                    </div>
                    <!-- End Cool People on Login Page -->
                    <!-- Start Divider -->
                    <div class="grid grid-rows-1 gap-y-0.5">
                        <LoginDivider />
                    </div>
                    <!-- End Divider -->
                    <!-- Start LoginBox -->
                    <div class="grid grid-rows-1 gap-x-2">
                        <LoginBox />
                    </div>
                    <!-- End LoginBox -->
                </div>
            </div>
        </div>
    </LoginLayout>
}