---
const { username } = Astro.props;
---
<p class="text-xs font-semibold">View:
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}`}>Profile</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/blog`}>Blog</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/bulletins`}>Bulletins</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/forums`}>Forums</a>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/layouts`}>Layouts</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/friends`}>Friends</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/blocked`}>Blocked</a>
    <span class="text-xs font-medium">-</span>
    <a class="text-xs font-semibold text-[#1D4ED8] hover:text-[#ED0707] hover:underline" href={`/${username}/friendrequests`}>Requests</a>
</p>