---
import SmallLink from '@com/main/SmallLink.astro';

const { username } = Astro.props;

const blogItems = [
{ text: "Hello There", href: `${username}/blog` },
{ text: "Stop Drop & Roll", href: `${username}/blog` },
{ text: "WTH?", href: `${username}/blog` },
];
---
<div class="text-xs space-y-1">
    {blogItems.map((blogitems) => (
        <div class="flex items-center">
            <p>{blogitems.text}</p>
                <p class="ml-1">
                    <SmallLink href={blogitems.href} link="read" classname="font-semibold" />
                </p>
        </div>
    ))
    }
</div>
