---
import SmallLink from '@com/main/SmallLink.astro';

const { username } = Astro.props;

const blogItems = [
{ text: "Hello There", href: `${username}/blog` },
{ text: "Stop Drop & Roll", href: `${username}/blog` },
{ text: "WTH?", href: `${username}/blog` },
{ text: "Hello There", href: `${username}/blog` },
{ text: "Stop Drop & Roll", href: `${username}/blog` },
{ text: "WTH?", href: `${username}/blog` },
{ text: "Hello There", href: `${username}/blog` },
{ text: "Stop Drop & Roll", href: `${username}/blog` },
{ text: "WTH?", href: `${username}/blog` },
{ text: "Hello There", href: `${username}/blog` },
{ text: "Stop Drop & Roll", href: `${username}/blog` },
{ text: "WTH?", href: `${username}/blog` },
];
---
<div class="text-xs space-y-1">
    {blogItems.map((items) => (
        <div class="flex items-center">
            <p>{items.text}</p>
                <p class="ml-1 -mt-0.5">
                    <SmallLink href={items.href} link="read" />
                </p>
        </div>
    ))
    }
</div>
