---
import NonRegularBox from '@com/main/NonRegularBox.astro';

const imgurl = '';

var images = new Array (
  `${imgurl}`,
  `${imgurl}`,
  `${imgurl}`,
  `${imgurl}`,
  `${imgurl}`,
  `${imgurl}`,
  `${imgurl}`
);

var randomImage = images[Math.floor(Math.random() * images.length)];
// random image loader ends
---
<NonRegularBox widthcss="w-[458px]" name="Announcements" pclass="flex items-center ml-2 text-xs font-semibold text-black mt-0.5" backgroundColor="bg-blue-400" borderColor="border-blue-200">
    <div class="flex items-center py-2 px-2 space-x-2">
        <a href="/shop" target="_self">
        </a>
        <div class="text-xs mt-2">
            <p class="font-semibold text-[12.8px] text-black -mt-2 mb-1">Merchandise</p>
            <p class="italic text-black">Now Available!</p>
            <p class="text-black mb-1">Support Hi Moot by buying a shirt, hoodie, sweater or cup.</p>
            <p>» <a class="font-semibold text-blue-600 hover:text-red-600 hover:underline" href="/shop" target="_self">Shop Now!</a></p>
        </div>
    </div>
</NonRegularBox>