---
import CoverImage from '@com/main/CoverImage.astro';
import UserDetailBox from '@com/profile/UserDetailBox.astro';
import ContactButtons from '@com/profile/ContactButtons.astro';
import Interests from '@com/profile/Interests.astro';
import Details from '@com/profile/Details.astro';
import UserBox from '@com/profile/UserBox.astro';
import BlogEntry from '@com/profile/BlogEntry.astro';
import FriendSpace from '@com/profile/FriendSpace.astro';
import Blurbs from '@com/profile/Blurbs.astro';
import FriendComments from '@com/profile/FriendComments.astro';

import Layout from '@lay/Layout.astro';

const pages = [{ username: "dex" }];

const username = 'dex';

const page = pages.find((page) => page.username === username);
if(!page) {
    Astro.response.status = 404;
    Astro.response.statusText = 'Not found';
};

const name = "Dex";

const loggedin = true;

const showList = true;

const friendship = true;

const requested = true;

const coverimage = true;
---
<Layout title=`${name}`>
        <div class="grid grid-cols-12 grid-flow-row-dense">
            <div class="col-span-full">
                <CoverImage coverimage={coverimage} />
                <div class="flex items-start justify-between gap-x-2 mt-2">
                    <!-- Left Column -->
                    <div class="flex flex-col gap-y-2 w-3/5">
                        <UserDetailBox loggedin={loggedin} name={name} username={username} />
                        <ContactButtons loggedin={loggedin} name={name} friendship={friendship} requested={requested} />
                        <Details loggedin={loggedin} name={name} username={username} />
                        <Interests loggedin={loggedin} name={name} username={username} />
                    </div>
                    <!-- Right Column -->
                    <div class="flex flex-col gap-y-2 w-full">
                        <UserBox loggedin={loggedin} friendship={friendship} requested={requested} />
                        <div class="-mt-1">
                            <BlogEntry loggedin={loggedin} name={name} showList={showList} username={username} />
                        </div>
                            <Blurbs loggedin={loggedin} name={name} username={username} />
                            <FriendSpace loggedin={loggedin} name={name} username={username} />
                            <FriendComments loggedin={loggedin} name={name} username={username} />
                    </div>
                </div>
            </div>
        </div>
</Layout>