---
import CoverImage from '@com/main/CoverImage.astro';
import UserDetailBox from '@com/profile/UserDetailBox.astro';
import MusicPlayer from '@com/main/MusicPlayer.astro';
import ContactButtons from '@com/profile/ContactButtons.astro';
import ProfileLinkURL from '@com/profile/ProfileLinkURL.astro';
import Interests from '@com/profile/Interests.astro';
import Details from '@com/profile/Details.astro';
import UserBox from '@com/profile/UserBox.astro';
import BlogEntry from '@com/profile/BlogEntry.astro';
import FriendSpace from '@com/profile/FriendSpace.astro';
import Blurbs from '@com/profile/Blurbs.astro';
import FriendComments from '@com/profile/FriendComments.astro';

import Layout from '@lay/Layout.astro';

import onlineusers from '../api/users';

// Shuffle function
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}

// Shuffle the users array
const shuffledUsers = shuffleArray(onlineusers);

const { username } = Astro.params;

console.log('Username from URL:', username);
console.log('Shuffled users array:', shuffledUsers);

const page = shuffledUsers.find(user => user.username === username);

if (!page) {
  return new Response('User not found', { status: 404 });
}

const { name, loggedin, myself, profilepic, profileimg, showlist, friendship, requested, lastActive, audiourl, audioinfo, isCoverImg } = page;

const aboutwords = `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).`;

const meetwords = `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)`;
const musicinfo = audioinfo;

const lastActiveObj = loggedin ? null : lastActive; // Use ternary to set `lastActive` based on `loggedin`
---
<Layout title={name}>
  <div class="grid grid-cols-12 grid-flow-row-dense">
    <div class="col-span-full">
      <div class="mb-1.5">
        <CoverImage isCoverImg={isCoverImg} name={name} username={username} />
      </div>
      <div class="flex items-start justify-between gap-x-2">
        <!-- Start Left Column -->
        <div class="flex flex-col gap-y-2 flex-grow">
          <UserDetailBox loggedin={loggedin} name={name} username={username} onlinenow={loggedin} lastActive={lastActiveObj} profilepic={profilepic} profileimg={profileimg} />
          <ContactButtons loggedin={loggedin} myself={myself} name={name} friendship={friendship} requested={requested} />
          <ProfileLinkURL loggedin={loggedin} name={name} username={username} />
          { audiourl ? <MusicPlayer audiourl={audiourl} audioinfo={musicinfo} /> : null }
          <Details loggedin={loggedin} name={name} username={username} />
          <Interests loggedin={loggedin} name={name} username={username} />
        </div>
        <!-- End Left Column -->
        <!-- Start Right Column -->
        <div class="flex flex-col gap-y-2">
          <UserBox loggedin={loggedin} name={name} friendship={friendship} requested={requested} />
          <div class="-mt-[3px]">
            <BlogEntry loggedin={loggedin} name={name} showlist={showlist} username={username} />
          </div>
          <div class="-mt-1 space-y-2">
            <Blurbs loggedin={loggedin} aboutwords={aboutwords} meetwords={meetwords} name={name} username={username} />
            <FriendSpace loggedin={loggedin} name={name} username={username} profilepic={profilepic} />
            <FriendComments loggedin={loggedin} name={name} username={username} />
          </div>
        </div>
        <!-- End Right Column -->
      </div>
    </div>
  </div>
</Layout>