---
import UserDetailBox from '@com/profile/UserDetailBox.astro';
import ContactButtons from '@com/profile/ContactButtons.astro';
import ProfileLinkBox from '@com/profile/ProfileLinkBox.astro';
import Interests from '@com/profile/Interests.astro';
import Details from '@com/profile/Details.astro';
import UserBox from '@com/profile/UserBox.astro';
import BlogEntry from '@com/profile/BlogEntry.astro';
import FriendSpace from '@com/profile/FriendSpace.astro';
import Blurbs from '@com/profile/Blurbs.astro';
import FriendComments from '@com/profile/FriendComments.astro';

import Layout from '@lay/Layout.astro';

const pages = [{ username: "astro" }];

const { username } = Astro.params;
const page = pages.find((page) => page.username === username);
if(!page) {
    Astro.response.status = 404;
    Astro.response.statusText = 'Not found';
};

const name = "Astro";

const friendship = false;

const requested = false;

const hidden = false;
---
<Layout title=`${name}`>
        <div class="grid grid-cols-12 grid-flow-row-dense">
            <div class="col-span-full">
                <div class="flex items-start justify-between gap-x-2">
                    <!-- Left Column -->
                    <div class="flex flex-col gap-y-2">
                        <UserDetailBox />
                        { hidden ? '' : <ContactButtons friendship={friendship} cancelRequest={requested} /> }
                        <ProfileLinkBox />
                        <Details />
                        <Interests />
                    </div>
                    <!-- Right Column -->
                    <div class="flex flex-col gap-y-2 w-full">
                        <UserBox friendship={friendship} requested={requested} />
                            <div class={ friendship ? null : "-mt-1" }>
                                <BlogEntry />
                            </div>
                            <Blurbs />
                            <FriendSpace />
                            <FriendComments self={true} />
                    </div>
                </div>
            </div>
        </div>
</Layout>