---
import { Icon } from 'astro-icon/components';

import cookieconsentjs from "../scripts/cookieconsent.js?url";

import cookieconsentinit from "../scripts/cookieconsent-init.js?url";

import socialplayer from "../scripts/socialplayer.js?url";

interface Props {
  title?: string;
}

const { title } = Astro.props;

import loggedin from '../pages/api/loggedin.json';

const home = "Home";

const loginname = "Login";

const loggedinwords = [loggedin ? `${home}` : `${loginname}`];

const navItems = [
  { smallname: "", href: "/", name: `${loggedinwords}`, dividerChar: "-" },
  { smallname: "messages", href: "/messages", name: "Messages", dividerChar: "-" },
  { smallname: "browse", href: "/browse", name: "Browse", dividerChar: "-" },
  { smallname: "blogs", href: "/blogs", name: "Blogs", dividerChar: "-" },
  { smallname: "bulletins", href: "/bulletins", name: "Bulletins", dividerChar: "-" },
  { smallname: "forums", href: "/forums", name: "Forums", dividerChar: "-" },
  { smallname: "groups", href: "/groups", name: "Groups", dividerChar: "-" },
  { smallname: "favorites", href: "/favorites", name: "Favorites", dividerChar: "-" },
  { smallname: "invite", href: "/invite", name: "Invite", dividerChar: "-" },
  { smallname: "about", href: "/about", name: "About", dividerChar: "-" },
  { smallname: "help", href: "/help", name: "Help", dividerChar: "-" },
  { smallname: "contact", href: "/contact", name: "Contact", dividerChar: "" }
];

const getCssClasses = (isActive) => isActive ? "hover:text-zinc-950 hover:underline font-semibold aria-current:underline" : "hover:text-zinc-950 hover:underline";

const dividerCss = "text-white text-xs font-normal pl-[4px]";

const currentPath = new URL(Astro.request.url).pathname.slice(1);

const navFooterItems = [
  { smallname: "updates", href: "/updates", name: "Updates", dividerChar: "-" },
  { smallname: "rules", href: "/rules", name: "Rules", dividerChar: "-" },
  { smallname: "feeds", href: "/feeds", name: "Feeds", dividerChar: "-" },
  { smallname: "terms", href: "/terms", name: "Terms", dividerChar: "-" },
  { smallname: "privacy", href: "/privacy", name: "Privacy", dividerChar: "" }
];

const getCssFooterClasses = (isActive) => isActive ? "hover:text-red-600 hover:underline font-semibold aria-current:underline" : "hover:text-red-600 hover:underline";
const dividerFooterCss = "text-zinc-950 text-xs font-medium";

const currentFooterPath = new URL(Astro.request.url).pathname.slice(1);
---
<html lang="en" class="c_darkmode antialiased subpixel-antialiased">
  <head>
    <title>{`${title} - Hi Moot`}</title>
    <link rel="canonical" href={Astro.site} />
    <meta charset="utf-8" />
    <link rel="icon shortcut" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={`${title} - Hi Moot`} />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/cookieconsent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script is:inline defer src={cookieconsentjs}></script>
    <script is:inline defer src={cookieconsentinit}></script>
    <script is:inline defer src={socialplayer}></script>
    <script>import "preline/dist/preline.js";</script>
</head>
  <body>
    <!-- Start Layout -->
    <div class="mx-auto w-[800px]">
      <!-- Start Header -->
      <div class="sticky inset-0 z-50">
        <header class="bg-blue-600 h-[40px]">
          <div class="flex items-center mx-1.5 mr-2 py-1">
            <!-- Start Logo Icon -->
              <a href="/" title="Back to Home">
                  <Icon class="h-[30px] w-auto fill-white" name="hmlogo" />
              </a>
              <!-- End Logo Icon -->
              <!-- Start Search HTML -->
              <div class="w-full ml-2 my-[0.5px]">
                  <form class="flex items-center space-x-0.5">
                      <input
                        type="text"
                        class="h-[25px] pl-1 resize-none text-sm caret-black focus:outline-none placeholder:text-sm placeholder:italic placeholder:text-zinc-400 bg-white w-52"
                        placeholder="Search..."
                        id="search"
                        name="q"
                        autocomplete="off"
                        title="Search by name or username"
                      />
                      <button
                        class="justify-center items-center h-[25px] w-8 border border-blue-600 bg-zinc-100 hover:bg-zinc-200 focus:outline-none focus:ring-0 focus:ring-transparent focus:ring-offset-0 transition-all"
                        type="submit"
                        aria-label="search"
                      >
                      <Icon class="h-[14px] w-[14px] fill-blue-600 mx-auto mt-[0.75px]" name="search" />
                      </button>
                    </form>
              </div>
              <!-- End Search HTML -->
               <!-- Start Logout Link -->
               <div class="flex items-center -mr-[1px]">
                { 
                  loggedin ?
                  <button id="logoutButton" type="button" title="Log Out of Hi Moot" aria-label="Log Out of Hi Moot" class="flex items-center whitespace-nowrap space-x-1 bg-white hover:bg-zinc-100 px-1.5 py-[1.5px] focus:bg-white/80 focus:outline-none focus:ring-1 border border-blue-200 focus:border-blue-400/60">
                    <Icon class="h-[15px] fill-blue-600" name="logout" />
                    <span class="text-[14px] text-blue-600">Log Out</span>
                  </button>
                  : null 
                }
              </div>
              <!-- End Logout Link -->
          </div>
      </header>
      <nav class="bg-blue-400 text-white drop-shadow-lg py-[3px] px-3">
        <ul class="flex items-stretch justify-between text-xs -mt-[1px] ml-1.5">
          {navItems.map(({ smallname, href, name, dividerChar }) => (
            <li>
              <a data-navitem class={getCssClasses(currentPath === smallname)} href={href} target="_self">{name}</a>
              <span class={dividerCss}>{dividerChar}</span>
              </li>
            ))}
          </ul>
        </nav>
      </div>
      <!-- End Header -->
       <!-- Start Page -->
      <div class="inline-block w-full h-full bg-white">
        <div class="py-2 px-2">
          <slot />
        </div>
      </div>
      <!-- End Page -->
      <!-- Start Footer -->
      <div class="mt-3 mb-10">
        <footer>
          <div class="pb-2 flex justify-center">
            <div class="text-blue-600 text-[11px]">
              <ul class="flex items-stretch space-x-1">
                {navFooterItems.map(({ smallname, href, name,dividerChar }) => (
                <li>
                  <a data-navitem class={getCssFooterClasses(currentFooterPath === smallname)} href={href} target="_self">{name}</a>
                  <span class={dividerFooterCss}>{dividerChar}</span>
                </li>
              ))}
              </ul>
          </div>
          </div>
          <div class="pb-2 flex justify-center">
            <div class="text-[11px] flex items-center space-x-0.5">
              <p>Hi Moot</p>
              <p>©</p>
              <p>{ new Date().getFullYear() }</p>
            </div>
          </div>
          <p class="text-[11px] flex justify-center">This is a work in progress</p>
        </footer>
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Layout -->
     <!-- Start Back to Top Button -->
    <button type="button" id="scrollTopButton" class="hidden fixed z-auto cursor-pointer inline-flex flex-shrink-0 justify-center items-center gap-2 h-8 w-8 border border-transparent font-semibold bg-blue-600 hover:bg-blue-500 focus:outline-none focus:ring-0 focus:ring-transparent focus:ring-offset-0 transition-all text-sm right-4 bottom-4 outline-none overflow-x-hidden overflow-y-auto" title="Back To Top" aria-label="Back To Top" tabindex="0">
      <Icon class="h-4 w-4 fill-white m-auto" name="arrow-up" />
    </button>
    <!-- End Back to Top Button -->
  </body>
</html>

<script>
  // @ts-nocheck
  import DOMPurify from "dompurify";
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMPurify.sanitize(formData.get("q")?.toString());
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchTerm);
    window.location.assign(url.toString());
  });

  const navItems = document.querySelectorAll(
    "[data-navitem]"
  ) as NodeListOf<HTMLAnchorElement>;

  navItems.forEach((link) => {
    if (window.location.href === link.href) {
      link.setAttribute("aria-current", "page");
    }
  });
  
  const scrollTopButton = document.getElementById('scrollTopButton');
  
  window.onscroll = function() {
    scrollFunction();
  };
  
  function scrollFunction() {
    if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
      scrollTopButton.style.display = "block";
    } else {
      scrollTopButton.style.display = "none";
    }
  }
  
  // Attach click event listener using JavaScript
  scrollTopButton.addEventListener('click', function() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>