---
import 'tailwindcss/tailwind.css';

import { Icon } from 'astro-icon/components';

import cookieconsentjs from "../scripts/cookieconsent.js?url";

import cookieconsentinit from "../scripts/cookieconsent-init.js?url";

interface Props {
  title?: string;
  pagetitle?: string;
}

const { title, pagetitle } = Astro.props;
---
<html lang="en" class="antialiased subpixel-antialiased text-neutral-950 bg-neutral-300">
  <head>
    <title>{`${title} - Kinva`}</title>
    <link rel="canonical" href={Astro.site} />
    <meta charset="utf-8" />
    <link rel="icon shortcut" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={`${title} - Kinva`} />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/cookieconsent.css">
    <link rel="stylesheet" href="/lightbox.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script is:inline defer src={cookieconsentjs}></script>
    <script is:inline defer src={cookieconsentinit}></script>
    <script>import "preline/dist/preline.js";</script>
    <script is:inline defer src="/scripts/lightbox-plus-jquery.min.js"></script>
</head>
  <body class="flex flex-col min-h-screen">
    <!-- Start Layout -->
    <div class="mx-auto w-[800px] flex flex-col min-h-screen">
      <!-- Start Header -->
      <div class="sticky inset-0 z-50">
        <header class="bg-neutral-950 h-[38px]">
          <div class="flex items-center justify-center mx-1.5 mr-2 py-1">
            <!-- Start Logo Icon -->
            <a href="/">
              <Icon class="h-[30px] w-auto fill-white" name="klogo" />
            </a>
            <!-- End Logo Icon -->
          </div>
      </header>
      </div>
      <!-- End Header -->
       <!-- Start Page -->
       <div class="inline-block w-full h-full bg-white">
        <div class="py-2 px-2 mx-[50px] mb-3">
          <h1 id="pagetitle" class="mb-2 text-3xl font-semibold">{pagetitle}</h1>
            <slot />
        </div>
      </div>
      <!-- End Page -->
      <!-- Start Footer -->
      <div class="mt-3 mb-10">
        <footer class="space-y-1">
          <div class="flex justify-center">
            <div class="text-[11px] flex items-center space-x-0.5">
              <p>Kinva © { new Date().getFullYear() }</p>
            </div>
          </div>
          <p class="text-[11px] flex justify-center">Not ready for production</p>
        </footer>
      </div>
      <!-- End Footer -->
    </div>
    <!-- End Layout -->
     <!-- Start Back to Top Button -->
     <button type="button" id="scrollTopButton" class="hidden fixed z-auto cursor-pointer inline-flex flex-shrink-0 justify-center items-center gap-2 h-8 w-8 border border-transparent font-semibold bg-neutral-950 focus:outline-none focus:ring-0 focus:ring-transparent focus:ring-offset-0 transition-all text-sm right-4 bottom-4 outline-none overflow-x-hidden overflow-y-auto" title="Back To Top" aria-label="Back To Top" tabindex="0">
      <Icon class="h-4 w-4 fill-white m-auto" name="arrow-up" />
    </button>
    <!-- End Back to Top Button -->
  </body>
</html>

<script>
  // @ts-nocheck
  import DOMPurify from "dompurify";
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMPurify.sanitize(formData.get("q")?.toString());
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchTerm);
    window.location.assign(url.toString());
  });

  const navItems = document.querySelectorAll(
    "[data-navitem]"
  ) as NodeListOf<HTMLAnchorElement>;

  navItems.forEach((link) => {
    if (window.location.href === link.href) {
      link.setAttribute("aria-current", "page");
    }
  });
  
  const scrollTopButton = document.getElementById('scrollTopButton');
  
  window.onscroll = function() {
    scrollFunction();
  };
  
  function scrollFunction() {
    if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
      scrollTopButton.style.display = "block";
    } else {
      scrollTopButton.style.display = "none";
    }
  }
  
  // Attach click event listener using JavaScript
  scrollTopButton.addEventListener('click', function() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>